.form{
    margin: 0 auto;
    background-color: black;
}

.container{
    margin-top: 200px;
    width: 50%;
    margin-left: 10%;
}


.tonne{
    margin-bottom: 20px;
}

.kilo{
    margin-top: 30px;
}